*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2A7B9B;
}

.rpg{
    /* border: 2px solid; */
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#screen{
    border: 2px solid rgba(0, 0, 0, 0.521);
    border-radius: .9rem;
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    padding-top:.7rem;
    text-align: center;
    -webkit-border-radius: .9rem;
    -moz-border-radius: .9rem;
    -ms-border-radius: .9rem;
    -o-border-radius: .9rem;
    color: #ffff;
}
#btn{
    /* border: 2px solid; */
    border: none;
    margin-top: 1rem;
    width: 9rem;
    height: 2.4rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-size: 1.4rem;
    color: rgba(22, 23, 102, 0.705);
    
}

@media(max-width:670px){
    .rpg h1{
        font-size: 1.3rem;

    }
}